.container{
    height: 50px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item1 {
    width: 50px;
    height: 50px;
    background-color: brown;
}

.item2 {
    width: 50px;
    height: 50px;
    background-color: violet;
}

.item3 {
    width: 50px;
    height: 50px;
    background-color: wheat;
}