@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.logo {
    margin: 15px 90px;
    align-self: center;
}

.header-block {
    background-color: #E1EDE6;
    padding: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: none;

}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    padding: 25px 25px 25px 0px;
}

.section1 {
    margin: 60px 15px;
}

.image0 {
    display: none;
    margin-right: 30px;
}

.title {
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    margin-bottom: 20px;
}

.title span {
    color: #4b7f5f; 
}

.content {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    margin-bottom: 40px;    
}

.btn2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #598D66;
    padding: 20px 60px;
    border: 1px solid #598D66; 
    background-color: transparent; 
}

.section2 {
    margin: 0px 15px 80px 15px;    
}

.title2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
    color: #2C2D35;
    margin-bottom: 20px;
}

.nav1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}

.nav1 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    padding: 10px 20px;
    background-color: #D4E8D9;
    border-radius: 20px;
}

.nav1 .active {
    color: #F4F6F5;
    background-color: #376B44;
}

.card-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
    justify-self: stretch;
}

.image {
    align-self: center;
    width: 250px;
    height: 250px;
}

.author {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.name {
    color: #2C2D35;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px;
}

.materials {
    color: #2C2D35;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;
}

.price {
    color: #598D66;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
}

.btn3 {
    border: 1px solid #598D66;
    color: #598D66;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 20px 60px;
}

.section3 {
    background-image: url(assets/Rectangle.png);
    padding: 50px 15px;
}

.section-block {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.title3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: #F4F6F5;
    margin-bottom: 20px;
}

.content1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 20px;   
}

.btn4 {
    border: none;
    color: #2C2D35;
    background-color: #EEDB6D;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    padding: 20px 60px;
}

.section4 {
    display: flex;
    flex-direction: column;
    margin: 50px 15px;
}

.title4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
    color: #2C2D35;
    margin: 30px 0;
}

.content2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: #2C2D35;
    margin-bottom:15px;    
}

.team {
    display: flex;
    gap: 25px;
}

footer {
    background-color: #E1EDE6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "logo2 logo2"
    "footer-cell1 footer-cell2"
    "footer-cell3 footer-cell4"
    "end end";
    padding: 20px 15px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.logo2 {
    grid-area: logo2;
    margin: 15px 0;
}

.footer-cell1 {
    grid-area: footer-cell1;
    display: flex;
    flex-direction: column;
}

.footer-cell2 {
    grid-area: footer-cell2;
    display: flex;
    flex-direction: column;

}

.footer-cell3 {
    grid-area: footer-cell3;
    display: flex;
    flex-direction: column;

}

.footer-cell4 {
    grid-area: footer-cell4;
    display: flex;
    flex-direction: column;

}

.title-end {
    color: #2C2D35;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 8px;
}

.nav2 {
    display: flex;
    flex-direction: column;
}

.nav2 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    padding: 0px;
}

.end {
    grid-area: end;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
}

.platforms {
    grid-area: platforms;
    display: flex;
    gap: 30px;
}

.end-text {

    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    color: #86928B;
}

@media (min-width: 510px) {
header {
    background-color: #E1EDE6;
}

.logo {
    margin: 16px 0;
}

.header-block {
    display: flex;
    padding: 15px 33px;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn0 {
    display: none;
}

nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

nav a {
    padding: 0;
}

.section1 {
    margin: 60px 33px;
}

.section-block0 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image0 {
    display: block;
    width: 195px;
    height: 239px;
}

.section-block01 {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    margin-bottom: 10px;
}

.title span {
    color: #4b7f5f; 
}

.content {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    margin-bottom: 10px;    
}

.btn2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #598D66;
    padding: 20px 60px;
    border: 1px solid #598D66; 
    background-color: transparent;
    width: fit-content;
}

.section2 {
    margin: 0px 33px 80px 33px;      
}

.nav1 {
    gap: 32px;
    margin-bottom: 20px;
}

.card-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image {
    width: 200px;
}

.author {
    font-size: 16px;
}

.name {
    font-size: 24px;
}

.materials {
    font-size: 16px;
}

.price {
    font-size: 20px;
}

.btn3 {
    font-size: 18px;
}

.section3 {
    background-image: url(assets/Rectangle.png);
    padding: 50px 33px;
}

.section-block {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 331px;
}

.section4 {
    margin: 50px 33px;
}

.image2 {
    width: 375px;
    height: 370px;
}

.content2 {
    margin-bottom:20px;    
}

.team {
    display: flex;
    gap: 30px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "logo2 footer-cell1 footer-cell1"
    "footer-cell2 footer-cell3 footer-cell4"
    "end end end";
    padding: 23px 33px;
    justify-content: space-between;
    grid-column-gap: 0;
    grid-row-gap: 30px;
}

.logo2 {
    grid-area: logo2;
    margin: 0;
}

.footer-cell1 {
    justify-self: end;
}

.title-end {
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 6px;
}

.nav2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.nav2 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    padding: 0px;
}

}

@media (min-width: 690px) {
header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E1EDE6;
    padding: 33px 39px;
}

.logo {
    margin: 0;
}

.header-block {
    display: flex;
    padding: 0;
    justify-content: space-between;
    gap: 60px;
}

.btn0 {
    display: none;
}

nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

nav a {
    padding: 0;
}

.section1 {
    margin: 0;
    padding: 0 39px;
}

.section-block0 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image0 {
    display: block;
    width: 330px;
    height: 380px;
}

.section-block01 {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.title {
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    margin-bottom: 20px;
}

.content {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    margin-bottom: 40px;    
}

.btn2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    color: #598D66;
    padding: 20px 60px;
    border: 1px solid #598D66; 
    background-color: transparent;
    width: fit-content;
}

.section2 {
    margin: 70px 39px 80px 39px; 
}

.section-block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title2 {
    font-size: 30px;
    line-height: 110%;
    margin-bottom: 0;
}

.nav1 {
    gap: 32px;
    margin-bottom: 0;
}

.nav1 a {
    font-size: 20px;
}

.card-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.image {
    width: 290px;
    height: 422px;
}

.author {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.name {
    color: #2C2D35;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px;
}

.materials {
    color: #2C2D35;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;
}

.price {
    color: #598D66;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
}

.btn3 {
    border: 1px solid #598D66;
    color: #598D66;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 20px 60px;
}

.section3 {
    padding: 70px 39px;
}

.section-block {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 450px;
}

.image1 {
    width: 60px;
    height: 60px;
}

.title3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.content1 {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;   
}

.btn4 {
    font-size: 20px;
}

.section4 {
    margin: 80px 39px;
}

.image2 {
    width: 510px;
    height: 504px;
}

.title4 {
    font-size: 30px;
    margin: 40px 0;
}

.content2 {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;    
}

.team {
    display: flex;
    gap: 30px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo2 logo2 logo2 footer-cell1"
    "footer-cell2 footer-cell3 footer-cell4 end";
    padding: 23px 33px;
    justify-content: space-between;
    grid-column-gap: 0;
    grid-row-gap: 30px;
}

.logo2 {
    grid-area: logo2;
    margin: 0;
}

.footer-cell1 {
    justify-self: end;
}

.title-end {
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 6px;
}

.nav2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.nav2 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    padding: 0px;
}

.end {
    align-items: flex-start;
}

}

@media (min-width: 1024px) {
header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E1EDE6;
    padding: 33px 165px;
}

.logo {
    margin: 0;
}

.header-block {
    display: flex;
    padding: 0;
    justify-content: space-between;
    gap: 60px;
}


.btn0 {
    display: none;
}

nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

nav a {
    padding: 0;
}

.section1 {
    margin: 0;
    padding: 0 165px;
}

.section-block0 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image0 {
    display: block;
    width: 540px;
    height: 621px;
}

.section-block01 {
    display: flex;
    flex-direction: column;
    padding: 0;
}


.title {
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    color: #2C2D35;
    margin-bottom: 20px;
}

.content {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    margin-bottom: 60px;    
}

.btn2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    color: #598D66;
    padding: 20px 60px;
    border: 1px solid #598D66; 
    background-color: transparent;
    width: fit-content;
}

.section2 {
    margin: 70px 165px 100px 165px;    
}

.section-block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
    color: #2C2D35;
    margin-bottom: 0;
}

.nav1 {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 0;
}

.nav1 a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

.card-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.image {
    align-self: center;
    width: 310px;
    height: 422px;
}

.author {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.name {
    color: #2C2D35;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 8px;
}

.materials {
    color: #2C2D35;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 30px;
}

.price {
    color: #598D66;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
}

.btn3 {
    border: 1px solid #598D66;
    color: #598D66;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 20px 60px;
}

.section3 {
    padding: 70px 665px 70px 165px;
}

.section-block {
    gap: 20px;
}

.image1 {
    width: 80px;
    height: 80px;
}

.title3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.content1 {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 40px;   
}

.btn4 {
    font-size: 20px;
}

.section4 {
    margin: 70px 165px;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.image2 {
    width: 445px;
    height: 440px;
}

.section-block2 {
    display: flex;
    flex-direction: column;
}

.title4 {
    font-size: 40px;
    line-height: 110%;
    margin: 30px 0;
}

.content2 {
    font-size: 18px;
    line-height: 150%;
    margin-bottom:20px;    
}

.team {
    display: flex;
    gap: 30px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo2 footer-cell2 footer-cell3 footer-cell4 blank end"
    "footer-cell1 footer-cell2 footer-cell3 footer-cell4 blank end";
    padding: 23px 165px;
    justify-content: space-between;
    grid-column-gap: 0;
    grid-row-gap: 30px;

}

.logo2 {
    grid-area: logo2;
    margin: 0;
    margin-right: 130px;
}

.footer-cell1 {
    justify-self: start;
}

.footer-cell2 {
    justify-self: center;
}

.footer-cell3 {
    justify-self: center;
}

.footer-cell4 {
    justify-self: center;
}

.title-end {
    color: #2C2D35;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 6px;
}

.nav2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.nav2 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    padding: 0px;
}

.end {
    align-items: flex-start;
}

}

