@import url(button.css);
@import url(header.css);
@import url(user.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 48px 56px;
}

.title {
    margin: 0 0 48px 0;
    padding: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0px;

}

.categories-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.categories-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.categories-card__title {
    font-weight: 600;
    font-style: Bold;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
}

.categories-card__actions {
    display: flex;
    gap: 8px;
}