body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 200px 0 200px;
    align-self: center;
}

.box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.box p{
    padding: 8px 16px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}

.news-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 125%;
}

hr {
    border: none;
    border-top: 1px solid #F0F0F0;
}

.news-image {
    width: 1000px;
    border-radius: 24px;
}

.news-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #3D3D3D;
}

.news-actionButtons {
    position: fixed;
    bottom: 56px;
    right: 56px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-actionButtons a,
.news-actionButtons button {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 40px;
}

.news-actionButtons a img{
    margin: 24px;
}

.news-edit {
    background-color: #0077B6;
}

.news-delete {
    background-color: #C1121F;
}