body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}

header {
    background-color: white;
    margin-bottom: 22px;
    padding: 20px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #eef0ee;
}

.header-block {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #242424;
}

.nav a.active {
    color: #5856D6;
}

.buttons {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.btn-secondary {
    background-color: #F0F0F0;
    color: #242424;
}

.btn-primary {
    background-color: #5C53E9;
    color: #FFFFFF;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #EEF0F3;
    padding: 10px 14px;
    border-radius: 10px;
    gap: 6px;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.header2 {
    background-color: white;
    margin-bottom: 22px;
    padding: 32px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #eef0ee;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav2 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #170F49;
}

.button-round {
    background-color: #4A3AFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 18px 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 76px;
    cursor: pointer;
}

.header3 {
    background-color: white;
    margin-bottom: 22px;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #eef0ee;
}

.header-block2 {
    display: flex;
    align-items: center;
    gap: 120px;
}

.nav3 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav3 a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000;
}

.nav3 a.active {
    color: #5C53E9;
}

.btn-third {
    background-color: #000;
    color: #F0F0F0;
}

.header4 {
    background-color: white;
    margin-bottom: 22px;
    padding: 20px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #eef0ee;
    border-radius: 10px;
}

.nav4 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav4 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000;
}

.header5 {
    background-color: #111928;
    margin-bottom: 22px;
    padding: 20px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.nav5 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav5 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #fff;
}

.search-box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D6D8DE;
    background-color: #111928;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    gap: 10px;
}

.search-box2 input {
    border: none;
    outline: none;
    background-color: #111928;
    color: #D6D8DE;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.nav6 {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-basis: 50%;
    justify-content: end;
}

.nav6 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #fff;
}
