@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');


@font-face {
   font-family: "MyFont";
   src: url(./static/Montserrat-Bold.ttf);
}




h1 {
   color: rebeccapurple;
   font-family: "Roboto", sans-serif;    
}

h2 {
   color: rebeccapurple;
   font-family: MyFont, "Mozilla Headline";
}

p {
   color: rebeccapurple;
   font-family: "Mozilla Headline", sans-serif;
}